@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

%font {
  font-weight: 500;
  line-height: 126%;
}

.form {
  label {
    color: rgba(223, 222, 221, 0.33);
    font-size: 14px;
    @extend %font;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    @extend %font;
    font-size: 20px;
    padding-bottom: 22px;
    padding-top: 10px;
    color: rgba(223, 222, 221, 1);

    &::placeholder {
      color: rgba(223, 222, 221, 1);
      font-size: 16px;
    }

    &:focus {
      outline: 0;
    }

    @media (max-width: 1280px) {
      font-size: initial;
    }
  }

  .success {
    input[type='submit'], >div {
      color: var(--dark-brown);
      font-weight: bold;
      font-size: 15px;
      line-height: 100%;
      border: 1px solid var(--brown);
      border-radius: 60px;
      background-color: var(--white);
      padding: 21px 34px;
      cursor: pointer;
    }

    >div {
      position: relative;
      cursor: initial;

      >span {
        text-wrap: nowrap;
        opacity: 0;
        font-weight: bold;
        font-size: 15px;
        line-height: 100%;
      }

      >svg {
        position: absolute;
        max-height: 40px;
        max-width: 40px;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        animation: load 3s linear infinite;
        fill: var(--dark-brown);
      }
    }

    label {
      line-height: 22px;
      font-weight: 400;
      display: flex;
      gap: 10px;
      position: relative;
      cursor: pointer;

      input[type='checkbox'] {
        visibility: hidden;
        position: absolute;

        &:checked ~ span {
          >svg {
            display: block;
            transform: rotate(90deg);
          }
        }
      }

      >span {
        min-width: 18px;
        max-width: 18px;
        min-height: 18px;
        max-height: 18px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        >svg {
          display: none;
        }
      }

      @media (max-width: 1280px) {
        font-size: 13px;
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top {
  display: flex;
  gap: 10px;
  margin-bottom: 46px;

  @media (max-width: 1280px) {
    gap: 8px;
    margin-bottom: 40px;
  }
}

.middle {
  margin-bottom: 54px;

  @media (max-width: 1280px) {
    margin-bottom: 70px;
  }
}

.bottom {
  display: flex;
  gap: 45px;
}