.container {
  color: var(--white);
  background-color: var(--dark-brown);

  >div {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    >div {
      &:first-child {
        padding: 150px 199px 150px 0;
        border-right: 1px solid rgba(255, 255, 255, 0.06);
      }

      &:last-child {
        padding: 150px 0 150px 199px;
        border-left: 1px solid rgba(255, 255, 255, 0.06);
      }

      @media (max-width: 1280px) {
        &:first-child {
          padding: 130px 0 163px;
        }

        &:last-child {
          padding: 130px 0 163px 197px;
        }
      }
    }
  }
}

.left {
  >* {
    max-width: 400px;
    min-width: 400px;
  }

  h3 {
    font-size: 46px;
    line-height: 140%;
    font-weight: 600;
    margin-bottom: 126px;
  }

  p {
    font-size: 16px;
    line-height: 170%;
    font-weight: 500;
  }

  @media (max-width: 1280px) {
    h3 {
      font-size: 40px;
    }

    p {
      font-size: 15px;
    }
  }
}