%text {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  >div {
    width: 100%;

    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: var(--max-width);
      margin-left: calc((100% - var(--max-width)) / 2);
    }
  }

  a {
    color: rgba(71, 64, 49, 1);
  }
}

.top {
  border-bottom: 1px solid rgba(245, 240, 236, 1);

  >div {
    min-height: 46px;
  }

  .topButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--white);
    border: 0;
    cursor: pointer;

    path {
      fill: rgba(136, 123, 97, 1);
    }

    span {
      color: rgba(136, 123, 97, 1);
      @extend %text;
      font-size: 13px;
    }
  }
}

.bottom {
  border-bottom: 1px solid rgba(236, 232, 227, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  >div {
    min-height: 100px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 28px;
    @extend %text;
  }

  .contacts {
    display: flex;
    align-items: center;

    a {
      @extend %text;
    }

    >a:nth-child(2) {
      margin-left: 52px;
    }

    >button {
      background-color: var(--dark-brown);
      border-radius: 60px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--white);
      padding: 21px 30px 23px 26px;
      @extend %text;
      font-weight: 700;
      cursor: pointer;
      margin-left: 26px;
    }
  }
}

.modal {
  position: absolute;
  top: -100vh;
  left: 20%;
  background-color: var(--dark-brown);
  transition: top .3s ease-in-out;
  color: var(--white);
  @extend %text;
  padding: 16px;
  border-radius: 12px;
  min-width: 60%;
  text-align: center;
  min-height: 40vh;

  &__open {
    top: 5vh;
  }

  >button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
  }
}