.container {
  position: relative;
  margin-bottom: 125px;
}

.newsList {
  display: flex;
  gap: 8px;
  overflow: hidden;
  margin-bottom: 70px;
}

.RightScrollBtn {
  border: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: var(--dark-brown);
  cursor: pointer;
  position: absolute;
  right: calc(-65px / 2);
  top: calc((470px - 65px) / 2);
}

.linkNewsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkNewsBtn {
  background-color: var(--dark-brown);
  border-radius: 52px;
  color: white;
  padding: 21px 29px;
  font-size: 14px;
  line-height: 126%;
  font-weight: 700;

  >span {
    color: var(--brown);
  }
}

.news {
  .img {
    overflow: hidden;
    border-radius: 12px;
    position: relative;

    >img {
      border: 1px solid var(--light-brown);
    }

    >button {
      position: absolute;
      z-index: 1;
    }
  }
}