%scrollBtn {
  border: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: var(--dark-brown);
  cursor: pointer;
  position: absolute;
  transition: transform .2s ease-in-out;
  top: calc((470px - 65px) / 2);

  &:hover {
    transform: scale(1.1);
  }
}

.container {
  position: relative;
  margin-bottom: 125px;
}

.newsList {
  display: flex;
  gap: 8px;
  overflow: hidden;
  margin-bottom: 70px;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.leftScrollBtn {
  @extend %scrollBtn;
  left: calc(-65px / 2);

  >svg {
    transform: rotate(180deg);
  }
}

.rightScrollBtn {
  @extend %scrollBtn;
  right: calc(-65px / 2);
}

.linkNewsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkNewsBtn {
  background-color: var(--dark-brown);
  border-radius: 52px;
  color: white;
  padding: 21px 29px;
  font-size: 14px;
  line-height: 126%;
  font-weight: 700;

  > span {
    color: var(--brown);
  }
}

.news {
  .img {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    > img {
      border: 1px solid var(--light-brown);
    }

    > a {
      position: absolute;
      z-index: 10;
      background-color: white;
      border-radius: 30px;
      padding: 9px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 126%;
      color: var(--dark-brown);
      top: 60px;
      border: 0;
    }
  }

  .text {
    > p {
      &:first-child {
        color: var(--brown);
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 170%;
      }

      &:last-child {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        color: rgba(90, 88, 87, 0.64);
        max-width: 322px;
        max-height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    > h6 {
      color: var(--deep-brown);
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 14px;
      max-width: 318px;
    }
  }
}