%scrollBtn {
  border: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: var(--dark-brown);
  cursor: pointer;
  position: absolute;
  transition: transform .2s ease-in-out;
  top: calc((470px - 65px) / 2);

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 1620px) {
    width: 60px;
    height: 60px;
    top: calc((400px - 60px) / 2);
  }

  @media (max-width: 1200px) {
    width: 55px;
    height: 55px;
    top: calc((400px - 55px) / 2);
  }

  @media (max-width: 708px) {
    width: 50px;
    height: 50px;
    top: calc((354px - 50px) / 2);
  }
}

.leftScrollBtn {
  @extend %scrollBtn;
  left: calc(-65px / 2);

  >svg {
    transform: rotate(180deg);
  }

  @media (max-width: 1620px) {
    left: calc(-60px / 2);
  }

  @media (max-width: 1200px) {
    left: calc(-55px / 2);
  }

  @media (max-width: 708px) {
    left: calc(-50px / 2);
  }
}

.rightScrollBtn {
  @extend %scrollBtn;
  right: calc(-65px / 2);

  @media (max-width: 1620px) {
    right: calc(-60px / 2);
  }

  @media (max-width: 1200px) {
    right: calc(-55px / 2);
  }

  @media (max-width: 708px) {
    right: calc((100% - 257px - 50px) / 2);
  }
}

.container {
  position: relative;
  margin-bottom: 125px;

  @media (max-width: 1620px) {
    margin-bottom: 109px;
  }

  @media (max-width: 1200px) {
    margin-bottom: 60px;
  }

  @media (max-width: 708px) {
    margin-bottom: 162px;
  }
}

.newsList {
  display: flex;
  gap: 8px;
  overflow: hidden;
  margin-bottom: 70px;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  @media (max-width: 1620px) {
    margin-bottom: 50px;
  }

  @media (max-width: 708px) {
    margin-bottom: 33px;
  }
}

.linkNewsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkNewsBtn {
  background-color: var(--dark-brown);
  border-radius: 52px;
  color: white;
  padding: 21px 29px;
  font-size: 14px;
  line-height: 126%;
  font-weight: 700;
  border: 1px solid rgba(93, 72, 66, 0.14);

  > span {
    color: var(--brown);
  }

  @media (max-width: 1200px) {
    padding: 18px 29px;
  }

  @media (max-width: 708px) {
    padding: 16px 29px;
  }
}

.news {
  .img {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    > img {
      border: 1px solid var(--light-brown);
    }

    > a {
      position: absolute;
      z-index: 10;
      background-color: white;
      border-radius: 30px;
      padding: 9px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 126%;
      color: var(--dark-brown);
      top: 60px;
      border: 0;
    }
  }

  .text {
    > p {
      &:first-child {
        color: var(--brown);
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 170%;
      }

      &:last-child {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        color: rgba(90, 88, 87, 0.64);
        max-width: 322px;
        max-height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    > h6 {
      color: var(--deep-brown);
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 14px;
      max-width: 318px;
    }
  }

  @media (max-width: 1620px) {
    .img {
      width: 294px;
      height: 400px;

      >a {
        padding: 9px 20.5px;
      }
    }

    .text {
      >h6 {
        font-size: 17px;
        margin-bottom: 4px;
        max-width: 220px;
      }

      > p {
        &:first-child {
          margin-bottom: 10px;
        }

         &:last-child {
           max-width: 272px;
         }
      }
    }
  }

  @media (max-width: 1200px) {
    .img {
      width: 350px;
    }
  }

  @media (max-width: 708px) {
    .img {
      max-height: 354px;
      margin-bottom: 28px;

      >img {
        height: 354px;
        width: 257px;
      }

      >a {
        padding: 9px 14.5px;
      }
    }

    .text {
      >p:first-child {
        font-size: 13px;
        margin-bottom: 12px;
      }
    }
  }
}