.container {
  border-top: 1px solid rgba(245, 240, 236, 1);
}

.row {
  border-bottom: 1px solid rgba(245, 240, 236, 1);
}

.box {
  display: flex;

  .card {
    display: flex;

    &:first-child {
      border-right: 1px solid rgba(245, 240, 236, 1);
    }

    &:last-child {
      margin-left: 74px;
    }

    >div {
      display: flex;

      >p {
        margin-top: 72px;
        color: rgba(212, 180, 150, 1);
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
      }
    }

    >img {
      width: 274px;
      height: 278px;
      object-fit: cover;
    }

    @media (max-width: 1280px) {
      &:last-child {
        margin-left: 40px;
      }

      >div>p {
        margin-top: 53px;
      }

      >img {
        width: 201px;
        height: 223px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: end;
      justify-content: space-between;

      >div>p {
        margin-top: 43px;
      }

      >img {
        height: 137px;
      }
    }
  }
}

.textContent {
  margin: 69px 46px 0 69px;

  >h6 {
    color: var(--deep-brown);
    font-size: 24px;
    font-weight: 600;
    line-height: 126%;
    margin-bottom: 25px;
  }

  >p {
    color: rgba(90, 88, 87, 0.64);
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  @media (max-width: 1280px) {
    margin: 50px 0 50px 50px;

    >h6 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    margin: 44px 56px 20px 39px;

    >h6 {
      font-size: 18px;
      margin-bottom: 13px;
    }

    >p {
      font-size: 14px;
      -webkit-line-clamp: 4;
    }
  }
}

.label {
  color: #202020;
}

.paragraph {
  color: rgba(90, 88, 87, 0.64);
}