.container {
  border-top: 1px solid rgba(245, 240, 236, 1);

  @media (max-width: 708px) {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

.row {
  border-bottom: 1px solid rgba(245, 240, 236, 1);

  @media (max-width: 708px) {
    min-width: 100vw;
  }
}

.box {
  display: flex;

  .card {
    display: flex;

    &:first-child {
      border-right: 1px solid rgba(245, 240, 236, 1);
    }

    &:last-child {
      margin-left: 74px;
    }

    >div {
      display: flex;

      >p {
        margin-top: 72px;
        color: rgba(212, 180, 150, 1);
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
      }
    }

    >img {
      width: 274px;
      height: 278px;
      object-fit: cover;
    }

    @media (max-width: 1620px) {
      &:last-child {
        margin-left: 40px;
      }

      >div>p {
        margin-top: 53px;
      }

      >img {
        width: 201px;
        height: 223px;
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: end;
      justify-content: space-between;

      >div>p {
        margin-top: 43px;
      }

      >img {
        height: 137px;
      }
    }

    @media (max-width: 708px) {
      &:first-child {
        border-right: 0;
        border-bottom: 1px solid rgba(245, 240, 236, 1);
      }

      &:last-child {
        margin-left: 0;
      }

      >div>p {
        margin-top: 30px;
        margin-left: calc((100% - 345px) / 2);
      }

      >img {
        max-width: 345px;
        margin-left: calc((100% - 345px) / 2);
        margin-right: calc((100% - 345px) / 2);
        width: 100%;
      }
    }
  }

  @media (max-width: 708px) {
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.textContent {
  margin: 69px 46px 0 69px;

  >h6 {
    color: var(--deep-brown);
    font-size: 24px;
    font-weight: 600;
    line-height: 126%;
    margin-bottom: 25px;
  }

  >p {
    color: rgba(90, 88, 87, 0.64);
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  @media (max-width: 1620px) {
    margin: 50px 0 50px 50px;

    >h6 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 1200px) {
    margin: 44px 56px 20px 39px;

    >h6 {
      font-size: 18px;
      margin-bottom: 13px;
    }

    >p {
      font-size: 14px;
      -webkit-line-clamp: 4;
    }
  }

  @media (max-width: 708px) {
    margin: 31px 15px 18px 11px;
  }
}

.label {
  color: #202020;
}

.paragraph {
  color: rgba(90, 88, 87, 0.64);
}

.slider {
  margin-top: 30px;
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: center;

  .item {
    min-height: 4px;
    min-width: 4px;
    transition: all .2s ease-in-out;
    background-color: var(--brown);
    border-radius: 50%;

    &__active {
      border-radius: 4px;
      min-width: 70px;
      background-color: var(--dark-brown);
    }
  }

  @media (min-width: 709px) {
    display: none;
  }
}