.container {
  border-top: 1px solid rgba(245, 240, 236, 1);
}

.row {
  border-bottom: 1px solid rgba(245, 240, 236, 1);
}

.box {
  display: flex;

  >div {
    display: flex;
    margin-left: 74px;

    &:first-child {
      border-right: 1px solid rgba(245, 240, 236, 1);
    }

    >p {
      margin-top: 72px;
      color: rgba(212, 180, 150, 1);
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
    }

    >img {
      width: 274px;
      height: 278px;
    }

    @media (max-width: 1280px) {
      margin-left: 40px;

      >p {
        margin-top: 53px;
      }

      >img {
        width: 201px;
        height: 223px;
      }
    }
  }
}

.textContent {
  margin: 69px 46px 0 69px;

  >h6 {
    color: var(--deep-brown);
    font-size: 24px;
    font-weight: 600;
    line-height: 126%;
    margin-bottom: 25px;
  }

  >p {
    color: rgba(90, 88, 87, 0.64);
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  @media (max-width: 1280px) {
    margin: 50px 0 50px 50px;

    >h6 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}

.label {
  color: #202020;
}

.paragraph {
  color: rgba(90, 88, 87, 0.64);
}