.container {
  border-top: 1px solid rgba(245, 240, 236, 1);
}

.row {
  border-bottom: 1px solid rgba(245, 240, 236, 1);
}

.box {
  display: flex;

  >div {
    display: flex;
    margin-left: 74px;

    &:first-child {
      border-right: 1px solid rgba(245, 240, 236, 1);
    }

    >p {
      margin-top: 72px;
      color: rgba(212, 180, 150, 1);
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
    }

    >img {
      width: 274px;
      height: 278px;
    }
  }
}

.textContent {
  margin: 69px 46px 0 69px;

  >h6 {
    color: rgba(32, 32, 32, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 126%;
  }

  >p {
    color: rgba(90, 88, 87, 0.64);
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
  }
}

.label {
  color: #202020;
}

.paragraph {
  color: rgba(90, 88, 87, 0.64);
}