:root {
    --deep-brown: #2A2620;
    --light-brown: #F1EFE9;
    --brown: #BFA88F;
    --dark-brown: #544B46;
    --grey-1: #969494;
    --grey-2: #87817D;
    --grey-3: #817B78;
    --white:#fff;

    --max-width: 1770px;
}

/*@media (prefers-color-scheme: dark) {*/
    /*:root {*/
    /*}*/
/*}*/

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

