.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  >* {
    max-width: 1280px;
    width: 100%;
  }
}

.mainContent {
  flex: 1;
}