.page {
    width: 100%;

    .title {
        padding: 125px 0 60px;

        h2 {
            font-size: 46px;
            line-height: 126%;
            font-weight: 600;
            color: var(--deep-brown);
        }

        @media (max-width: 1620px) {
            padding: 75px 0 50px;

            h2 {
                font-size: 40px;
            }
        }

        @media (max-width: 1200px) {
            padding-top: 60px;

            h2 {
                font-size: 36px;
            }
        }

        @media (max-width: 708px) {
            padding: 70px 0 30px;
        }
    }
}