.page {
    width: 100%;

    .title {
        padding: 125px 0 60px;

        h2 {
            font-size: 46px;
            line-height: 126%;
            font-weight: 600;
            color: var(--deep-brown);
        }
    }
}