.alert {
  position: fixed;
  padding: 10px 20px;
  top: 20vh;
  left: -420px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  background-color: red;
  color: white;
  width: initial;
  max-width: 400px;
  border-radius: 25px;
  transition: left .4s ease-in-out;

  &__show {
    left: calc((100vw - 400px) / 2);
  }
}