.alert {
  position: fixed;
  padding: 10px 20px;
  top: 20vh;
  left: -10vw;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  background-color: red;
  color: white;
  width: initial;
  border-radius: 25px;
  transition: left .4s ease-in-out;

  &__show {
    left: 10vw;
  }
}