.header {
  max-width: 1280px;

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
}

.top {
  border-bottom: 1px solid rgba(245, 240, 236, 1);
  min-height: 46px;

  .topButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 0;
    cursor: pointer;

    path {
      fill: rgba(136, 123, 97, 1);
    }

    span {
      color: rgba(136, 123, 97, 1);
      font-size: 13px;
      line-height: 100%;
      font-weight: 600;
    }
  }
}

.bottom {
  min-height: 100px;
  border-bottom: 1px solid rgba(236, 232, 227, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}